/* ---------------------- default styles start ---------------------- */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* colors */
  --bgPrimary: "#F5F5F5";
  --textPrimary: "rgb(14, 14, 14)";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fira Sans", sans-serif;
  background: var(--bgPrimary);
}
/* ---------------------- default styles end ---------------------- */
/* ---------------------- reuseable class start ---------------------- */
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.section-pt {
  padding-top: 80px;
}
.section-header {
  color: rgb(14, 14, 14);
  font-size: 40px;
  font-weight: 700;
}
/* ---------------------- reuseable class end ---------------------- */
/* ---------------------- header sections start ---------------------- */
nav {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}
nav h4 {
  font-size: 32px;
  font-weight: 700;
}
nav button {
  font-size: 18px;
  font-weight: 600;
  padding: 15px 30px 15px 30px;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
  color: rgb(0, 106, 80);
  background: transparent;
  cursor: pointer;
}
/* ---------------------- header sections end ---------------------- */
/* ---------------------- hero section start ---------------------- */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 60px;
  background: rgb(198, 228, 214);
  border-radius: 24px;
}
.hero-left {
  width: 622px;
}
.hero-left h5 {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  color: rgba(14, 14, 14, 0.5);
  margin-bottom: 16px;
}
.hero-left h1 {
  color: var(--textPrimary);
  font-family: Fira Sans;
  font-size: 56px;
  font-weight: 700;
  line-height: 67px;
}
.hero-left button {
  margin-top: 24px;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  padding: 17px 34px 17px 34px;
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}
/* ---------------------- hero section end ---------------------- */
/* ---------------------- pillars sections start ---------------------- */
.pillars-container {
  margin-top: 32px;
  display: flex;
  gap: 24px;
}
.pillar {
  width: 302px;
  height: 244px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 24px;
}
.pillar img {
  width: 64px;
  height: 64px;
}
.pillar-content {
  margin-top: 24px;
}
.pillar-content h3 {
  font-size: 20px;
  color: rgba(14, 14, 14, 0.8);
}
.pillar-content p {
  margin-top: 12px;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}
/* ---------------------- pillars sections end ---------------------- */
/* ---------------------- visionOfFuture section start ---------------------- */
.visionOfFuture > p {
  margin-top: 24px;
  color: rgba(14, 14, 14, 0.7);
  font-size: 16px;
}
.visionOfFuture-container {
  margin-top: 32px;
  display: flex;
  gap: 24px;
}
.visionOfFuture-card {
  border-radius: 16px;
  width: 410.67px;
  height: 325px;
  padding: 32px;
}
.visionOfFuture-card-1 {
  background: rgba(84, 144, 245, 0.2);
}
.visionOfFuture-card-2 {
  background: rgb(198, 228, 214);
}
.visionOfFuture-card-3 {
  background: rgb(247, 235, 207);
}
.visionOfFuture-card img {
  width: 64px;
  height: 64px;
}
.visionOfFuture-content {
  margin-top: 24px;
}
.visionOfFuture-content h3 {
  font-size: 20px;
  color: rgba(14, 14, 14, 0.8);
}
.visionOfFuture-content > p {
  margin-top: 12px;
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  height: 72px;
}
.visionOfFuture-content button {
  border-radius: 8px;
  padding: 11px 20px 11px 20px;
  font-size: 16px;
  margin-top: 24px;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.visionOfFuture-card-1 button {
  background: rgb(84, 144, 245);
}
.visionOfFuture-card-2 button {
  background: rgb(9, 161, 92);
}
.visionOfFuture-card-3 button {
  background: rgb(255, 194, 57);
}
/* ---------------------- visionOfFuture section end ---------------------- */
